{% extends "base.html" %}
{% block title %}Listado de obras - ExplorArte{% endblock %}

{% block content %}
<h3>Listado de obras</h3>
<div class="row">
  {% for arte in artes %}
  <div class="col-md-4 mb-3">
    <div class="card art-card">
      <img src="{{ arte.url_imagen.url }}" class="card-img-top">
      <div class="card-body">
        <h5>{{ arte.titulo }}</h5>
        <p class="mb-1"><small class="text-muted">{{ arte.artista }}</small></p>
        <a class="btn btn-sm btn-outline-primary" href="{% url 'arte:detalle_arte' arte.id %}">Ver</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
