{% extends "base.html" %}
{% block title %}Contacto - ExplorArte{% endblock %}

{% block content %}
<h3>Contacto</h3>

<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">Nombre</label>
    <input class="form-control" name="nombre" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input class="form-control" type="email" name="email" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Asunto</label>
    <input class="form-control" name="asunto" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Mensaje</label>
    <textarea class="form-control" name="mensaje" rows="4" required></textarea>
  </div>

  <button class="btn btn-primary" type="submit">Enviar</button>
</form>
{% endblock %}
