<h1>{{ arte.titulo }}</h1>
<p>{{ arte.descripcion }}</p>
<p>Categoría: {{ arte.categoria }}</p>
<p>Artista: {{ arte.artista }}</p>

<img src="/{{ arte.url_imagen }}" width="300">
<p>Dirección: {{ arte.direccion }}</p>
<!-- <p>Ubicación: {{ arte.ubicacion }}</p> -->

<a href="{% url 'arte_list' %}">⬅ Volver</a>

<h2>Ubicación</h2>

<div id="map" style="height: 400px; width: 100%; border-radius: 8px;"></div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>
const ubicacion = "{{ arte.ubicacion }}";

if (ubicacion.includes(",")) {
    const [lat, lng] = ubicacion.split(",").map(Number);

    const map = L.map("map").setView([lat, lng], 15);

    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 19
    }).addTo(map);

    L.marker([lat, lng]).addTo(map)
        .bindPopup("{{ arte.titulo }}")
        .openPopup();
}
</script>

<p>
    <a href="{% url 'arte_mapa' %}?centro={{ arte.ubicacion }}">
        🌎 Ver esta obra en el mapa general
    </a>
</p>
